.header {
    display: block;
    margin: auto;
}

.burger-menu {
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("../img/big-hamburger.jpg");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
}

.devoured{
    margin-right: 150px;
    float: right;
}

.undevoured {
    margin-left: 150px;
    float: left;
}

.burger {
    display: block;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background: #F8D80F;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #F24211;
}

.form-group {
  margin-bottom: 5px;
}

