.burger-menu {
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("../img/big-hamburger.jpg");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
}

.devoured{
    float: right;
}

.undevoured {
    float: left;
}

.burger {
    display: block;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}


.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

